<template>
  <v-chip
    :color="color"
    variant="flat"
    size="small"
    class="mr-1 mt-1"
  >
    <span :style="{color: textColor}" :class="{ 'pr-1': isScoped }">
      {{ scopeKey }}
    </span>
    <span v-if="isScoped && scopeValue" class="bg-white text-black pa-1">
      {{ scopeValue }}
    </span>
  </v-chip>
</template>

<script setup>
import {computed} from "vue";

const props = defineProps({
  color: String,
  title: String,
  textColor: String
})

const isScoped = computed(() => props.title.includes('::'))
const scopeIndex = computed(() => props.title.lastIndexOf('::'));
const scopeKey = computed(() => isScoped.value ? props.title.slice(0, scopeIndex.value) : props.title)
const scopeValue = computed(() => isScoped.value ? props.title.slice(scopeIndex.value + 2) : '')
</script>

<style scoped>

</style>
