<template>
  <div>
    <v-avatar size="24">
      <v-img :src="avatarUrl"/>
    </v-avatar>
    <span class="username">{{ name }}</span>
  </div>
</template>

<script setup>
import {computed} from "vue";

const props = defineProps({
  username: String,
  name: String,
  avatarUrl: String
});

const avatarUrl = computed(() => {
  if(props.avatarUrl.startsWith('/')) {
    return `https://gitlab.com${props.avatarUrl}`;
  }
  return props.avatarUrl;
})
</script>

<style scoped>
.username {
  margin-left: .5rem;
}
</style>
