<template>
  <v-expansion-panels>
    <merge-request v-for="mergeRequest in response.data.group.mergeRequests.nodes" v-bind="mergeRequest"/>
  </v-expansion-panels>
</template>

<script setup async>
import {loadMergeRequests} from "@/loadMergeRequests";
import MergeRequest from "@/components/MergeRequest.vue";

const response = await loadMergeRequests();
</script>

<style scoped>

</style>
