<template>
  <div>
    <span>{{ path }}</span>
    <span class="text-green"> +{{ additions }}</span>
    <span class="text-red"> -{{ deletions }}</span>
  </div>
</template>

<script setup>
defineProps({
  path: String,
  additions: Number,
  deletions: Number
})
</script>

<style scoped>

</style>
