<template>
  <v-expansion-panel>
    <v-expansion-panel-title>
      <div class="d-flex justify-space-between" style="width: 97%">
        <div>
          <div>{{ title }}</div>
          <gl-label v-for="label in shownLabels" v-bind="label"/>
        </div>
        <div class="d-flex align-center">
          <div v-if="mergeWhenPipelineSucceeds" class="ml-1">
              <v-chip color="green" variant="outlined">Merge when Pipeline succeeds 🎉</v-chip>
          </div>
          <div v-if="conflicts" class="ml-1">
            <v-tooltip v-slot:activator="{ props }" text="Conflicts" location="bottom">
              <v-icon v-bind="props" class="text-amber">mdi-alert</v-icon>
            </v-tooltip>
          </div>
          <div v-if="hasFailedPipeline" class="ml-1">
            <v-tooltip v-slot:activator="{ props }" text="Failed pipeline" location="bottom">
              <v-icon v-bind="props" class="text-red">mdi-close-circle-outline</v-icon>
            </v-tooltip>
          </div>
          <div class="ml-1">
            <div class="d-flex justify-end">
              <v-chip>{{ project.nameWithNamespace }}</v-chip>
            </div>
            <div class="mt-1 d-flex justify-end">
              <span class="space-after">Last updated</span><time-ago :date="updatedAt"/>
            </div>
          </div>
        </div>
      </div>
    </v-expansion-panel-title>
    <v-expansion-panel-text>
      <v-container fluid>
        <v-row>
          <v-col cols="8">
            <v-btn :href="webUrl" class="mb-2" target="_blank" rel="noopener noreferrer">
              Visit Merge Request
              <v-icon class="ml-1">mdi-open-in-new</v-icon>
            </v-btn>

            <merge-request-changed-file v-for="diffStat in diffStats" v-bind="diffStat"/>
          </v-col>
          <v-col cols="4">
            <v-card>
              <v-card-title>Reviewers</v-card-title>
              <v-card-text>
                <gl-user v-for="reviewer in reviewers" :key="reviewer.username" v-bind="reviewer" class="mb-1"/>
              </v-card-text>
            </v-card>
            <v-card class="mt-1">
              <v-card-title>Commenters</v-card-title>
              <v-card-text>
                <gl-user v-for="commenter in commenters" :key="commenter.username" v-bind="commenter" class="mb-1"/>
              </v-card-text>
            </v-card>
            <v-card class="mt-1" v-if="hasFailedPipeline">
              <v-card-title>Failed jobs</v-card-title>
              <v-card-text>
                <div v-if="failedJobs.length > 0">
                  <div v-for="job in failedJobs" :key="job.name">{{ job.name }}</div>
                </div>
                <div v-else>The pipeline did not trigger any jobs.</div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-expansion-panel-text>
  </v-expansion-panel>
</template>

<script setup>
import {computed} from "vue";
import GlLabel from "@/components/GlLabel.vue";
import MergeRequestChangedFile from "@/components/MergeRequestChangedFile.vue";
import GlUser from "@/components/GlUser.vue";
import TimeAgo from "@/components/TimeAgo.vue";

const props = defineProps({
  webUrl: String,
  title: String,
  project: Object,
  labels: Object,
  diffStats: Array,
  reviewers: Object,
  commenters: Object,
  updatedAt: String,
  conflicts: Boolean,
  mergeWhenPipelineSucceeds: Boolean,
  headPipeline: Object,
})

const allowedLabelStarts = [
  'type::',
  'feature::',
  'bug::',
  'maintenance::',
  'group::'
]

const allowedLabels = [
  'backend',
  'frontend',
  'documentation',
  'database',
  '1st contribution',
  'idle',
  'stale'
]

const shownLabels = computed(
  () => props.labels.nodes.filter(
    label => allowedLabelStarts.some(start => label.title.startsWith(start)) || allowedLabels.some(allowed => label.title === allowed)
  )
);

const reviewers = computed(() => props.reviewers.nodes);
const commenters = computed(() => props.commenters.nodes);
const hasFailedPipeline = computed(() => props.headPipeline?.status === 'FAILED');
const failedJobs = computed(() => {
  const jobs = props.headPipeline?.failedJobs?.nodes;
  if(jobs === undefined) {
    return [];
  }

  if(jobs.length > 9) {
    return [...jobs.slice(0, 9), {name: `${jobs.length - 9} more...`}];
  }
  return jobs;
});
</script>

<style scoped>
span.space-after::after {
  content: ' ';
  white-space: pre;
}
</style>
