<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ props }">
      <time v-bind="props" ref="element" :datetime="datetime"/>
    </template>
    {{ formattedDate }}
  </v-tooltip>
</template>

<script setup>
import {DateTime} from "luxon";
import {cancel, render} from "timeago.js/lib/full.js";
import {computed, onBeforeUnmount, onMounted, onUpdated, ref} from "vue";

const element = ref();

const props = defineProps({
  date: [String, Date]
})

const datetime = computed(() => {
  if(!props.date) {
    return null;
  }

  if(typeof props.date === "string") {
    return new Date(props.date).getTime();
  }
  return props.date.getTime();
});

const formattedDate = computed(() => {
  if(!Number.isInteger(datetime.value)) {
    return null;
  }
  return DateTime.fromMillis(datetime.value).toLocaleString(DateTime.DATE_MED);
});

onMounted(() => render(element.value));
onUpdated(() => {
  cancel(element.value);
  render(element.value);
});
onBeforeUnmount(() => cancel(element.value));
</script>
