<template>
  <v-app class="ma-2">
    <v-main>
      <Suspense>
        <template #default>
          <MergeRequestList />
        </template>
        <template #fallback>
          Loading...
        </template>
      </Suspense>
    </v-main>
  </v-app>
</template>

<script setup>
import QueryOutput from "@/components/QueryOutput.vue";
import MergeRequestList from "@/components/MergeRequestList.vue";
</script>
